In [6]:
!pip install pandas==1.3.3
!pip install requests==2.26.0
!mamba install bs4==4.10.0 -y
!mamba install html5lib==1.1 -y
!pip install lxml==4.9.1
!pip install plotly==5.3.1
#!pip install html5lib

Requirement already satisfied: pandas==1.3.3 in c:\users\jeffe\anaconda3\lib\site-packages (1.3.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\jeffe\anaconda3\lib\site-packages (from pandas==1.3.3) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\jeffe\anaconda3\lib\site-packages (from pandas==1.3.3) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\jeffe\anaconda3\lib\site-packages (from pandas==1.3.3) (2022.7.1)
Requirement already satisfied: six>=1.5 in c:\users\jeffe\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas==1.3.3) (1.16.0)

WARNING: Ignoring invalid distribution -lotly (c:\users\jeffe\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\jeffe\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\jeffe\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\jeffe\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\jeffe\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\jeffe\anaconda3\lib\site-packages)

Requirement already satisfied: requests==2.26.0 in c:\users\jeffe\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\jeffe\anaconda3\lib\site-packages (from requests==2.26.0) (1.26.7)

WARNING: Ignoring invalid distribution -lotly (c:\users\jeffe\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\jeffe\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\jeffe\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\jeffe\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\jeffe\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\jeffe\anaconda3\lib\site-packages)

Requirement already satisfied: certifi>=2017.4.17 in c:\users\jeffe\anaconda3\lib\site-packages (from requests==2.26.0) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\jeffe\anaconda3\lib\site-packages (from requests==2.26.0) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jeffe\anaconda3\lib\site-packages (from requests==2.26.0) (3.2)

'mamba' is not recognized as an internal or external command,
operable program or batch file.
'mamba' is not recognized as an internal or external command,
operable program or batch file.

Collecting lxml==4.9.1
  Using cached lxml-4.9.1-cp39-cp39-win_amd64.whl (3.6 MB)
Installing collected packages: lxml
  Attempting uninstall: lxml
    Found existing installation: lxml 4.6.4
    Uninstalling lxml-4.6.4:
      Successfully uninstalled lxml-4.6.4

WARNING: Ignoring invalid distribution -lotly (c:\users\jeffe\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\jeffe\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\jeffe\anaconda3\lib\site-packages)
    WARNING: Ignoring invalid distribution -lotly (c:\users\jeffe\anaconda3\lib\site-packages)
ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'C:\\Users\\jeffe\\anaconda3\\Lib\\site-packages\\~xml\\etree.cp39-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

WARNING: Ignoring invalid distribution -lotly (c:\users\jeffe\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\jeffe\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\jeffe\anaconda3\lib\site-packages)

Requirement already satisfied: plotly==5.3.1 in c:\users\jeffe\anaconda3\lib\site-packages (5.3.1)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\jeffe\anaconda3\lib\site-packages (from plotly==5.3.1) (8.2.1)
Requirement already satisfied: six in c:\users\jeffe\anaconda3\lib\site-packages (from plotly==5.3.1) (1.16.0)

WARNING: Ignoring invalid distribution -lotly (c:\users\jeffe\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\jeffe\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\jeffe\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\jeffe\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\jeffe\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\jeffe\anaconda3\lib\site-packages)

In [7]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [8]:
#Using Webscraping to Extract Stock Data Example

#First we must use the "request" library to downlaod the webpage, and extract the text. 
#We will extract Netflix stock data https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html.

url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html"

data  = requests.get(url).text #using the "request" library to store value inside a variable called "data" in text format

In [9]:
#Next we must "parse" the text into html using "beautiful_soup"
soup = BeautifulSoup(data, 'html5lib') #calling BeautifulSoup when the variable soup is called

In [10]:
netflix_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"]) #pandas dataframe = info stored in tabular format

# First we isolate the body of the table which contains all the information
# Then we loop through each row and find all the column values for each row
for row in soup.find("tbody").find_all('tr'):#tbody = table body  tr = rows
    col = row.find_all("td")
    date = col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[6].text
    
    # Finally we append the data of each row to the table
    netflix_data = netflix_data.append({"Date":date, "Open":Open, "High":high, "Low":low, "Close":close, "Adj Close":adj_close, "Volume":volume}, ignore_index=True)

In [11]:
#We can now print out the dataframe
netflix_data.head()

           Date    Open    High     Low   Close       Volume Adj Close
0  Jun 01, 2021  504.01  536.13  482.14  528.21   78,560,600    528.21
1  May 01, 2021  512.65  518.95  478.54  502.81   66,927,600    502.81
2  Apr 01, 2021  529.93  563.56  499.00  513.47  111,573,300    513.47
3  Mar 01, 2021  545.57  556.99  492.85  521.66   90,183,900    521.66
4  Feb 01, 2021  536.79  566.65  518.28  538.85   61,902,300    538.85

In [12]:

read_html_pandas_data = pd.read_html(url)

In [13]:
read_html_pandas_data = pd.read_html(str(soup))

In [14]:
netflix_dataframe = read_html_pandas_data[0]

netflix_dataframe.head()

           Date    Open    High     Low  Close* Adj Close**     Volume
0  Jun 01, 2021  504.01  536.13  482.14  528.21      528.21   78560600
1  May 01, 2021  512.65  518.95  478.54  502.81      502.81   66927600
2  Apr 01, 2021  529.93  563.56  499.00  513.47      513.47  111573300
3  Mar 01, 2021  545.57  556.99  492.85  521.66      521.66   90183900
4  Feb 01, 2021  536.79  566.65  518.28  538.85      538.85   61902300

In [19]:
url1 = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html"
html_data = requests.get(url1).text

In [20]:
soup1= BeautifulSoup(html_data,"html5lib")

In [21]:
#Question 1 What is the content of the title attribute:
Content_title= soup1.title
print("The title is", Content_title)

The title is <title>Amazon.com, Inc. (AMZN) Stock Historical Prices &amp; Data - Yahoo Finance</title>

In [22]:
#Using beautiful soup extract the table with historical share prices and store it into a dataframe named amazon_data.
#The dataframe should have columns Date, Open, High, Low, Close, Adj Close, and Volume.
#Fill in each variable with the correct data from the list col.
amazon_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])

for row in soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    date = col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[6].text
    
    amazon_data = amazon_data.append({"Date":date, "Open":Open, "High":high, "Low":low, "Close":close, "Adj Close":adj_close, "Volume":volume}, ignore_index=True)

In [23]:
#Print out the first five rows of the amazon_data dataframe you created.
amazon_data.head()

           Date    Open    High     Low   Close       Volume Adj Close
0  Jun 01, 2021  504.01  536.13  482.14  528.21   78,560,600    528.21
1  May 01, 2021  512.65  518.95  478.54  502.81   66,927,600    502.81
2  Apr 01, 2021  529.93  563.56  499.00  513.47  111,573,300    513.47
3  Mar 01, 2021  545.57  556.99  492.85  521.66   90,183,900    521.66
4  Feb 01, 2021  536.79  566.65  518.28  538.85   61,902,300    538.85

In [25]:
#Question 2 What is the name of the columns of the dataframe
print(amazon_data.columns)

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [26]:
#Question 3 What is the Open of the last row of the amazon_data dataframe?
amazon_data.tail()

            Date    Open    High     Low   Close       Volume Adj Close
65  Jan 01, 2016  109.00  122.18   90.11   91.84  488,193,200     91.84
66  Dec 01, 2015  124.47  133.27  113.85  114.38  319,939,200    114.38
67  Nov 01, 2015  109.20  126.60  101.86  123.33  320,321,800    123.33
68  Oct 01, 2015  102.91  115.83   96.26  108.38  446,204,400    108.38
69  Sep 01, 2015  109.35  111.24   93.55  103.26  497,401,200    103.26

In [35]:
amazon_data.head(-1)

            Date    Open    High     Low   Close       Volume Adj Close
0   Jun 01, 2021  504.01  536.13  482.14  528.21   78,560,600    528.21
1   May 01, 2021  512.65  518.95  478.54  502.81   66,927,600    502.81
2   Apr 01, 2021  529.93  563.56  499.00  513.47  111,573,300    513.47
3   Mar 01, 2021  545.57  556.99  492.85  521.66   90,183,900    521.66
4   Feb 01, 2021  536.79  566.65  518.28  538.85   61,902,300    538.85
..           ...     ...     ...     ...     ...          ...       ...
64  Feb 01, 2016   91.79   97.48   79.95   93.41  389,268,900     93.41
65  Jan 01, 2016  109.00  122.18   90.11   91.84  488,193,200     91.84
66  Dec 01, 2015  124.47  133.27  113.85  114.38  319,939,200    114.38
67  Nov 01, 2015  109.20  126.60  101.86  123.33  320,321,800    123.33
68  Oct 01, 2015  102.91  115.83   96.26  108.38  446,204,400    108.38

[69 rows x 7 columns]

In [36]:
amazon_data.iloc[-1,1] #[row, column]

'109.35'